

.space{
    min-height: 50vh;
}

a{
    color: darkRed;
}

.itemHere{
    background-color: amber lighten-5;
	font-size: 15px;
    padding:10px;
}

#renderedResults{
    width: 400px;
    padding: 20px;
    margin: auto;
    float: center;
}

.centerIt{
    margin: auto;
    width: 50%;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}


  main {
    flex: 1 0 auto;
  }

  #bookImg{
    
  }

